*{
  margin: 0px;
  padding: 0px;
}

/* Helper Styles */
.black-border{border:1px solid black}
.grey-background{background-color: #f7f7f7;}

.container-m50{margin: 0 50px;}
.display-flex{display: flex; justify-content: space-between;}
.flex-wrap{flex-wrap: wrap;}
.text-align-center{text-align: center;}
.text-align-right{text-align: right;}
.w-50{width: 50%;}
.w-100{width: 100%;}
.mb-15{margin-bottom:15px}
.mb-30{margin-bottom:30px}
.p-15{padding: 15px;}
.fs-12{font-size: 12px;}

/* colors */

.color.white{background-color: white}
.color.navy{background-color: navy}
.color.black{background-color: black}
.color.red{background-color: red}
.color.yellow{background-color: yellow}
.color.darkgrey{background-color: darkgrey}
.color.green{background-color: green}
.color.pink{background-color: pink}
.color.skyblue{background-color: skyblue}
.color.brown{background-color: brown}
.color.brown{background-color: brown}

#top-black-banner{text-align: center; color:white;background:#000;font-size: 12px;line-height: 38px;}
#navbar{
  border-bottom:1px solid #f1f1f1;
  min-height: 90px;
  margin-bottom: 50px;
}
div#hamburger-menu{padding: 25px 0px;}
div.hamburger-menu-icon{width: 35px;height: 5px;background-color: black;margin: 6px 0;}
#navbar ul, div#logo{width:30%}
#navbar ul li{list-style: none; display:inline;line-height: 90px; cursor: pointer; text-transform: uppercase; letter-spacing: 2px;}
ul#right-nav{display: flex; flex-direction: row-reverse;}
ul#left-nav li{margin-right: 40px;}
ul#right-nav li{margin-left: 40px;}
ul#right-nav li img{position: relative;top: 8px;}
div#logo{
  height: 50px;
  width: 80px;
  background:url('./Assets/images/logo.png') no-repeat;
  background-size: contain;
  margin-top:20px;
}

/* Product Details */

#product-options{min-width: 30%;}
#product-info{margin-bottom: 30px;}
#product-name{font-size: 24px; font-weight: 400;margin-bottom:10px}
#product-type{font-size: 12px;}
#product-price{font-size: 16px; line-height: 32px;}
#product-reviews{font-size: 12px; line-height: 34px;}
#product-select{border: 1px solid #c8c8c8}

.gender-tab{background:#f1f1f1; line-height: 40px;display:inline-block; width: calc(50% - 0.5px);border-bottom: 1px solid #c8c8c8;cursor: pointer;}
.gender-tab.active{background:#fff; color: #7dc242;border-bottom: 1px solid #fff; z-index:2}
.tab-divider{width: 1px; background:#c8c8c8;border-bottom: 1px solid #c8c8c8;display: inline-block;height: 40px;}

#colors, #sizes{justify-content: end;margin: 0 -3px;}
span.color{
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius:50%;
  background-color:#000;
  border:1px solid #c8c8c8;
  margin: 5px;
}

/* Size box */

span.size-box{
  width: 35px;
  height: 35px;
  border: solid 1px #999;
  text-align: center;
  line-height: 35px;
  margin: 8px;
}
span.size-box.active{
  background-color: #e9e9e9;
}

#add-to-bag{
  z-index: 4;
  width: calc(100% + 2px);
  line-height: 60px;
  background: #7dc242;
  font-size: 16px;
  color: #fff;
  outline: 0px;
  border: 1px solid #7dc242;
  margin-top: -1px;
  cursor: pointer; 
}

/* Features Strip */

#features-strip{
  display: flex;
}
#features-strip span{
  display: block;
  line-height: 40px;
  text-align: center;
  
}

@media (min-width : 1025px){
  .hide-on-desktop{display:none}
  #product-options{width: 30%;}
}

@media (max-width : 1024px){
  #product-options{width: 100%;}
}